@import '../../styles/responsive.scss';

.searchContainer {
    border: 1px solid #aab2b3;
    border-radius: 8px;
    padding: 15.5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    @include sm {
        width: 100% !important;
    }

    svg {
        width: 20px;
        height: 20px;
    }

    input {
        width: 100%;
        font-size: 14px;
        background: transparent;
        outline: none;
        border: none;
        color: #fff;
    }

    input::placeholder {
        color: #fff;
        font-family: "Poppins", serif;
        /* Change the color */
    }
}